/*
* Account.css
*
*/

.account {
    width: 70%;
    /*float: right;*/
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    /*border: 1px solid red;*/
    /*text-align: center;*/
    align-content: center;
}

.pageHeader {
    /*float: left;*/
    margin-left: auto;
    margin-right: auto;
}

.form {
    /*float: left;*/
    width: 32rem;
    /*display: inline-block;*/
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid red;*/
}
.label {
    width: 10rem;
    float: left;
    text-align: left;
    margin-right: .5rem;
    /*border: 1px solid blue;*/
}

.input {
    width: 15rem;
    border-radius: 5px;
}

.button {
    /*border: 5px solid red;*/
}

.datePicker {
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 2.5rem;
    padding: .5rem;
    /*float: left;*/
    /*position: relative;*/
    /*text-align: left;*/
    /*margin-left: 3px;*/
    width: 15rem;
    /*border: 1px solid red;*/
}

.formGroup {
    width: 25.5rem;
    /*border: 1px solid red;*/
}

.buttonToolbar {
    width: 30rem;
    /*float: right;*/
    /*margin-left: 12rem;*/
    /*border: 1px solid red;*/
}