/*
* Account.css
*
*/
.form {
    float: left;
    width: 70%;
    display: inline-block;
    /*border: 1px solid red;*/
}
.label {
    width: 10rem;
    float: left;
    text-align: right;
    /*border: 1px solid blue;*/
}

.input {
    width: 10rem;
    border-radius: 5px;
}

.button {
    /*border: 5px solid red;*/
}